services:
  postgres:
    image: postgres:latest
    container_name: solarwatch-postgres
    restart: always
    env_file: .env
    environment:
      POSTGRES_DB: ${Database__Name:-solarwatch}
      POSTGRES_USER: ${Database__Username:-john}
      POSTGRES_PASSWORD: ${Database__Password:-123}
    expose:
      - "5432"
    volumes:
      - postgres_data:/var/lib/postgresql
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${Database__Username:-john} -d ${Database__Name:-solarwatch}" ]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - backend

  api:
    #image: ghcr.io/veggissss/solarwatch/backend:master
    build:
      context: ./backend
      dockerfile: ./SolarWatch/Dockerfile
    container_name: solarwatch-backend
    expose:
      - "8080"
    env_file: .env
    environment:
      ASPNETCORE_ENVIRONMENT: Development
    depends_on:
      postgres:
        condition: service_healthy
    networks:
      - frontend
      - backend

  frontend:
    #image: ghcr.io/veggissss/solarwatch/frontend:master
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: solarwatch-frontend
    ports:
      - "4770:4770"
    env_file: .env
    depends_on:
      - api
    networks:
      - frontend

volumes:
  postgres_data:

networks:
  frontend:
    driver: bridge
    driver_opts:
      com.docker.network.bridge.host_binding_ipv4: "127.0.0.1"
  backend:
    driver: bridge
    external: false