name: Test Backend

on:
  push:
    branches: [ "master" ]
    paths:
    - 'backend/**'
  pull_request:
    branches: [ "master" ]
    paths:
    - 'backend/**'

env:
  DOTNET_VERSION: '10.0' # The .NET SDK version to use

jobs:
  build-and-test:

    name: build-and-test-${{matrix.os}}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest] #, windows-latest, macOS-latest

    steps:
    - uses: actions/checkout@v3
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: ${{ env.DOTNET_VERSION }}

    - name: Install dependencies
      run: dotnet restore
      working-directory: ./backend
      
    - name: Build
      run: dotnet build --configuration Release --no-restore
      working-directory: ./backend
    
    - name: Test
      run: dotnet test --no-restore --verbosity normal
      working-directory: ./backend
